[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
huggingface-hub = "*"
pillow = "*"
transformers = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.9"
