--extra-index-url https://download.pytorch.org/whl/cu130
torch
torchvision
accelerate>=0.31.0
huggingface_hub
imageio
imageio-ffmpeg
transformers>=4.41.2
peft>=0.11.1
datasets
numpy
tqdm
sentencepiece
tensorboard
wandb
